<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @location.organization %>
</p>

<p>
  <strong>Coords:</strong>
  <%= @location.coords %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
